include MIGRATION.md CHANGELOG.md
recursive-include tools *.py
recursive-include training *.py
recursive-include tests *.py
recursive-include examples *.py *.md *.ipynb *.json *.zip
recursive-include legacy *.md *.py *.pkl
